/*FOOTER*/

footer {
    background-color:map-get($paleta-bg,bgcolor2);
    min-height: 100px;
    padding: 45px;
}
.navegacion-footer {
    width: 100%;
    margin: auto;
    ul {
        padding: 0.5rem;
        li {
            padding: 3px;
            list-style: none;
        }
        
        
    }
}