/*### SERVICIOS  ###*/
.contenedor-servicios {
    div {
        padding: 1rem;
        line-height: 1.8;

        figure {
            img {
                width: 50%;
            }
        }
    }

    p {
        padding: 10px;
    }
}